 body {
    font-family: 'Lato', sans-serif;
     font-weight: 300;
     height: 100vh;
     /*width: 100vh;*/
 }

 .row-header {
     height:5vh;
 }

 .locations-row {
     background-color: black;
 }

 .options-row {
     background-color: #100b30;
 }

 .text-row {
     color: white;
     font-size: 80%;
     text-align: center;
 }

 .menu-bar {
     background-color: black;
     height: 100vh;
 }

 .map-area {
     height: 100vh;
 }

 .filter-options {
     background-color: white;
     color: black;
     width: 75%;
 }

 .filter-btn {
     background-color: cornflowerblue;
     width:20%;
     color: white;
 }

 .locations {
     color: antiquewhite;
     text-align: left;
     cursor: pointer;
 }

 .highlighted-locations {
     color: black;
     background-color: greenyellow;
     color: red;

 }