 body {
    font-family: 'Lato', sans-serif;
     font-weight: 300;
     height: 100vh;
     /*width: 100vh;*/
 }

 ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 li {
     margin-top: 10px;
     margin-bottom: 5px;
 }

 .row-header {
     height:5vh;
 }

 .locations-row {
     background-color: black;
 }

 .burger_menu {
     max-width: 15px;
     max-height: 15px;
     display: none;
 }

 .options-row {
     /*background-color: #07245d;*/
     background-color: #5d5b45;
 }

 .text-row {
     color: white;
     font-size: 80%;
     text-align: center;
 }

 .menu-bar {
     background-color: black;
     height: 100vh;
     display: block;
 }

 .map-area {
     height: 100vh;
 }

 .filter-options {
     background-color: white;
     color: black;
     width: 100%;
 }

 .filter-btn {
     background-color: cornflowerblue;
     width:75%;
     color: white;
     height: 5%;
 }

 .locations {
     color: antiquewhite;
     text-align: left;
     cursor: pointer;
     font-size: 15px;
     font-family: Courier;
     border-left: 6px solid #07358d;
     border-radius: 5px;
 }

 .highlighted-locations {
     background-color: #14b467;
     color: red;

 }

 @media screen and (max-width: 1140px) {
     .menu-bar {
         display: none;
     }

     .locations-row {
         display: none;
     }

     .burger_menu {
         display: block;
         margin: 5px;
         position: absolute;

     }
 }

 /*TODO Align burger menu, and give it click options :D*/